@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,900;1,700&display=swap');

:root{
    --soft-red-: hsl(7, 99%, 70%);
    --yellow-: hsl(51, 100%, 49%);
    --dark-sat-cyan: hsl(167, 40%, 24%);
    --dark-mod-cyan: hsl(168, 34%, 41%);
    --dark-blue-: hsl(198, 62%, 26%);
    --very-dark-des-blue: hsl(212, 27%, 19%);
    --very-dark-gra-blue: hsl(213, 9%, 39%);
    --dark-gra-blue: hsl(232, 10%, 55%);
    --gra-blue: hsl(210, 4%, 67%);
    --white-: hsl(0, 0%, 100%);
}

body{
    margin: 0;
    padding: 0;
    
    font-family: 'Barlow', 'serif';
    font-size: 18px;
}

h1,h2,h3,h4{
    font-family: 'Fraunces', 'sans-serif';
}

h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--white-);
}

header{
    height: 100vh;
    text-align: center;
    background-image: url("images/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header .navbar{
    padding: 2rem 1.5rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    text-align: right;
}

header .navbar a{
    text-decoration: none;
    color: var(--white-);

    margin: 0 1rem;
}

header .navbar button{
    padding: 1rem 1.5rem;

    font-family: 'Fraunces', 'sans-serif';
    text-transform: uppercase;

    border-radius: 32px;
    border: none;
    outline: none;
}

section.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

section.testimonials{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    text-align: center;
}

section.testimonials h4{
    grid-column: 1 / span 3;
}

section.images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }