header{
    height: 100vh;
    text-align: center;
    
    background-image: url("../images/desktop/image-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header .navbar #hamborg{
    display: none;
    justify-content: end;
}

header .navbar{
    padding: 32px 24px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    text-align: right;
}

header .navbar a{
    text-decoration: none;
    color: var(--white-);

    margin: 0 1rem;
}

header .navbar button{
    padding: 16px 24px;

    font-family: 'Fraunces', 'sans-serif';
    text-transform: uppercase;

    border-radius: 32px;
    border: none;
    outline: none;
}

header .navbar button:hover{
    color: var(--white-);
    background-color: var(--sky-blue-);
}

header h1{
    letter-spacing: 6px;
}

@media (max-width: 425px){
    header{
        background-image: url("../images/mobile/image-header.jpg");
    }

    header .navbar nav{
        display: none;
    }

    header .navbar #hamborg{
        display: block;
        justify-self: end;
    }
}