section.testimonials{
    padding: 10% 5%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;

    text-align: center;
}

section.testimonials :first-child{
    grid-column: 1 / span 3;

    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--gra-blue);
}

section.testimonials div img{
    width: 75px;
    border-radius: 50%;
}

section.testimonials div p{
    margin: 50px 0;
    color: var(--very-dark-gra-blue);
}

section.testimonials div h5{
    padding: 0;
    margin: 10px 0;
    font-family: "Fraunces", "sans-serif";
    font-size: 18px;

    color: var(--very-dark-des-blue-);
}

section.testimonials div h6{
    padding: 0;
    margin: 0;

    font-size: 15px;

    color: var(--gra-blue);
}

@media (max-width: 425px) {
    section.testimonials{
        grid-template-columns: 100%;
    }

    section.testimonials :first-child{
        grid-column: 1;
    }
}