section.images{
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

section.images img{
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 425px){
    section.images{
        grid-template-columns: repeat(2,50%);
    }
}